body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
}

#registration-container {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#registration-form {
    max-width: 400px;
    margin: 0 auto;
}

#checkbox-container {
    margin-top: 10px;
    text-align: left;
}

#checkbox-container label {
    font-size: 12px;
    color: #888;
}

.continue-btn {
    font-size: 16px;
    padding: 15px 30px;
}
